.advantages {
  background-color: @white;
  padding: 27px 30px 0 28px;
  min-height: 810px;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.advantages__headline {
  font-family: @os-font;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: @black;
  margin: 0;
}

.advantages__list {
  .clear-li;
}

.advantages__list-item {
  padding-top: 14px;
  min-height: 92px;
  max-width: 300px;
}

.advantages__list-item--icon-eco {
  &::before {
    display: block;
    margin-left: 9px;
    content: url("../img/icon-feature-flower.svg");
  }
}

.advantages__list-item--icon-price {
  &::before {
    display: block;
    content: url("../img/icon-feature-money.svg");
    margin-left: 2px;
  }
}

.advantages__list-item--icon-likes {
  &::before {
    display: block;
    margin-left: 9px;
    content: url("../img/icon-feature-heart.svg");
  }
}

.advantages__list-item--icon-handmade {
  padding-top: 10px;

  &::before {
    display: block;
    margin-left: 4px;
    content: url("../img/icon-feature-ball.svg");
  }
}

.advantages__list-item--icon-native {
  padding-top: 15px;

  &::before {
    display: block;
    content: url("../img/icon-feature-rocket.svg");
    padding-bottom: 8px;
  }
}

.advantages__list-item--icon-package {
  padding: 13px 0 0 3px;

  &::before {
    display: block;
    content: url("../img/icon-feature-gift.svg");
  }
}

.advantages__item-text {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @black;
}

@media (min-width: @tablet-width) {
  .advantages {
    min-height: 612px;
    margin: 0 auto;
    max-width: 668px;
    padding-left: 20px;
  }

  .advantages__headline {
    font-size: 43px;
    line-height: 50px;
    margin-top: 23px;
  }

  .advantages__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 480px;
  }

  .advantages__list-item {
    padding-left: 5px;
    width: 50%;
  }

  .advantages__item-text {
    font-size: 20px;
    line-height: 22px;
  }

  .advantages__list-item--icon-eco {
    padding-top: 20px;

    &::before {
      margin: 0 0 -10px 7px;
    }
  }

  .advantages__list-item--icon-likes {
    padding-bottom: 7px;

    &::before {
      margin-left: 8px;
    }
  }

  .advantages__list-item--icon-handmade {
    &::before {
      margin: 15px 0 -5px 3px;
    }
  }

  .advantages__list-item--icon-native {
    &::before {
      margin-left: -6px;
    }
  }

  .advantages__list-item--icon-package {
    padding-bottom: 8px;

    &::before {
      margin-left: 3px;
    }
  }

  @media (min-width: @desktop-width) {
    .advantages {
      min-height: 600px;
      min-width: 700px;
      padding: 35px 175px 0 175px;
    }

    .advantages__headline {
      font-size: 53px;
      line-height: 57px;
    }

    .advantages__list-item {
      padding-left: 0;
    }
  }
}
