.catalog-list {
  background-color: @white;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.catalog-list__item {
  .clear-li;
  margin: 10px auto 20px auto;
  max-width: 260px;
}

@media (min-width: @tablet-width) {
  .catalog-list__item {
    min-width: 668px;
    margin: 47px auto 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .catalog-list {
    flex-direction: row;
    max-width: @desktop-width;
    margin: 110px auto 0 auto;
  }

  .catalog-list__item {
    min-width: 315px;
    margin: 20px 0;
  }
}
