.catalog-item {
  border: 1px solid #ececec;
  background-color: #ffffff;
  min-height: 374px;
}

.catalog-item__img {
  background-color: #ebebeb;
}

.catalog-item__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin-left: 28px;
}

.catalog-item__details {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  border-bottom: 1px solid #ececec;
  margin-left: 28px;
}

.catalog-item__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  padding-left: 28px;
}
