.catalog-item {
  background-color: @white;
  min-height: 374px;
  display: flex;
  flex-direction: column;
  border: 1px solid @grey;
}

.catalog-item__img {
  background-color: #ebebeb;
}

.catalog-item__title {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  max-width: 203px;
  margin: 22px auto 0 auto;
  padding: 0;

  &:hover {
    color: @link-hover;
  }

  &:active {
    color: @link-active;
  }
}

.catalog-item__details {
  font-family: @os-font;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  color: @dark-grey;
  border-bottom: 1px solid @grey;
  max-width: 203px;
  margin: 1px 0 20px 28px;
  padding: 2px 0 18px 0;
}

.catalog-item__price {
  font-family: @os-font;
  font-weight: bold;
  display: block;
  font-size: 15px;
  line-height: 24px;
  color: @black;
  max-width: 203px;
  display: flex;
  margin: 25px auto;

  &::after {
    content: url("../../img/icon-cart.svg");
    width: 21px;
    height: 19px;
    cursor: pointer;
    margin-left: auto;
  }
}

@media (min-width: @tablet-width) {
  .catalog-item {
    flex-direction: row;
    min-height: 334px;

    &:hover {
      .hover-shadow;
    }

    &:active {
      .active-shadow;
    }
  }

  .catalog-item__title {
    font-size: 20px;
    max-width: 240px;
    margin: 27px auto 0 27px;
  }

  .catalog-item__details {
    font-size: 15px;
    max-width: 240px;
    border-bottom: none;
    margin: 3px 0 20px 27px;
  }

  .catalog-item__info {
    display: flex;
    flex-direction: column;
  }

  .catalog-item__price {
    font-size: 17px;
    min-width: 251px;
    border-top: 1px solid @grey;
    margin: auto 0 5px 30px;
    padding: 20px 20px 20px 0;

    &::after {
      margin-right: -20px;
    }
  }

  .catalog-item__img {
    box-sizing: border-box;
    height: 100%;
    min-width: 334px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-item {
    flex-direction: column;
    min-height: 658px;
    justify-content: space-between;
  }

  .catalog-item__info {
    max-height: 196px;
  }

  .catalog-item__title {
    margin: 25px auto 0 27px;
  }

  .catalog-item__price {
    margin: 1px 0 9px 25px;

    &::after {
      margin-right: -10px;
    }
  }

  .catalog-item__img {
    min-height: 458px;
    min-width: 100%;
  }

  .catalog-item__details--big-basket {
    margin: 0 0 0 27px;
  }
}
