.catalog-title {
  font-family: @os-font;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #231f20;
  background-color: @light-grey;
  padding: 71px 0 56px 0;
  min-height: 50px;
  text-align: center;
  margin-top: 18px;
}

@media (min-width: @tablet-width) {
  .catalog-title {
    font-size: 43px;
    line-height: 50px;
    padding: 96px 0 80px 0;
  margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog-title {
    font-size: 53px;
    line-height: 57px;
    min-height: 120px;
    padding: 95px 0 40px 0;
  }
}
