.color {
  background-color: @white;
  padding: 30px;
  border: none;
  display: flex;
  flex-direction: column;
}

.color__list {
  .clear-li;
  display: flex;
  flex-direction: column;
}

.color__item {
  padding-bottom: 30px;
}

.color__label {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: @black;
  padding-left: 20px;

  &::before {
    content: "";
    display: inline-block;
    border: 2px solid @dark-grey;
    width: 35px;
    height: 35px;
  }
}

.color__input {
  opacity: 0;
}

.color__input:checked + label {
  &::before {
    background: url("../img/icon-tick.svg") no-repeat;
    background-position: center;
    background-size: 70%;
    display: inline-block;
    border: 2px solid @dark-grey;
    width: 35px;
    height: 35px;
  }
}

@media (min-width: @tablet-width) {
  .color {
    margin: 0 auto;
    max-width: 630px;
    min-height: 200px;
    background-color: @light-grey;
  }

  .color__list {
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    flex-wrap: wrap;
    min-height: 50px;
  }

  .color__label {
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: @desktop-width) {
  .color {
    max-width: calc(@desktop-width - 60px);
  }

  .color__list {
    width: 400px;
  }
}
