.color {
  background-color: #ffffff;
  padding: 30px;
  border: none;
}

.color__list {
  list-style: none;
  padding: 0;
}

.color__item {
  padding-bottom: 30px;
}

.color__label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {

  .color {
    min-height: 300px;
    background-color: #f1f1f1;
  }

  .color__label {
    font-size: 19px;
    line-height: 18px;
  }
}
