@media (min-width: @tablet-width) {
  .comments-wrapper {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    min-width: 100px;
  }
}

@media (min-width: @desktop-width) {
  .comments-wrapper {
    background-position: left;
    max-width: @desktop-width;
    margin: 0 auto;
  }
}
