.comments {
  padding: 0 30px 50px 30px;
  background-color: #ffffff;
  min-height: 600px;
}

.comments__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 15px;
  color: #000000;
}

.comments__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.comments__author {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.comments__author-id {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 30px;
  color: #444444;
}

.comments__buttons {
  display: flex;
  height: 59px;
}

.comments__button {
  background-color: transparent;
  border: none;
  width: 100%;
  border: 1px solid #ececec;
}

.comments__write {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #444444;
  cursor: pointer;
  margin-top: 32px;
  padding: 14px 82px;
}

@media (min-width: @tablet-width) {
  .comments {
    min-height: 525px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: top left;
  }

  .comments__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: 18px;
    padding-top: 74px;
  }

  .comments__text {
    font-size: 17px;
    margin: 0 19px;
    padding-top: 11px;
  }

  .comments__author {
    margin-left: 18px;
  }

  .comments__author-id {
    margin-left: 18px;
  }

  .comments__write {
    font-size: 17px;
    margin: 0 18px;
  }

  .comments__buttons {
    display: flex;
    justify-content: flex-end;
    height: 59px;
  }

  .comments__button {
    background-color: transparent;
    border: none;
    width: 84px;
  }
}

@media (min-width: @desktop-width) {
  .comments {
    min-height: 480px;
  }

  .comments__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 15%;
    margin-top: 0;
  }

  .comments__text {
    margin-left: 15%;
  }

  .comments__author {
    margin-left: 15%;
  }

  .comments__author-id {
    margin-left: 15%;
  }
}
