.comments__button {
  background-color: #ffffff;

  &--previous {
    border: 1px solid #ececec;
    background-color: transparent;
    cursor: pointer;
    padding: 12px 42px 12px 38px;
  }

  &--next {
    border: 1px solid #ececec;
    background-color: transparent;
    cursor: pointer;
    padding: 12px 42px 12px 38px;
  }
}
