.copyright {
  background-color: @light-grey;
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

.copyright__title {
  font-family: @os-font;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: @black;
  padding-top: 5px;
  padding-right: 30px;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin-top: 30px;
    margin-right: 25px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-right: 0;
  }
}
