.copyright {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.copyright__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  padding-right: 30px;
}

.copyright__link {
  cursor: pointer;
}
