.email {
  border: none;
  background-color: @white;
  margin: 33px auto 0 auto;
  padding: 0;
  max-width: 260px;
  display: flex;
  flex-direction: column;
}

.email__input {
  border: none;
  border-bottom: 2px solid @black;
  padding: 24px 0 15px 0;
  width: 100%;
  background: url("../img/icon-mail.svg") no-repeat right; //  с иконкой неясно пока
  &:hover {
    border-bottom: 2px solid @input-hover-color;
  }

  &:focus {
    border-bottom: 2px solid @input-hover-color;
  }

  &::-webkit-input-placeholder {
    .placeholder-mobile;
  }
}

@media (min-width: @tablet-width) {
  .email {
    margin: 0 auto;
    padding: 17px 0 50px 0;
    max-width: 670px;
    min-height: 30px;
    background-color: @light-grey;
    flex-direction: row;
  }

  .email__input {
    background-color: @light-grey;

    &::-webkit-input-placeholder {
      padding-left: 15px;
      .placeholder-tablet;
    }
  }
}

@media (min-width: @desktop-width) {
  .email {
    max-width: calc(@desktop-width - 60px);
  }

  .email__input {
    max-width: 71%;
  }
}
