.email {
  border: none;
  background-color: @white;
  margin: 33px auto 0 auto;
  padding: 0;
  max-width: 260px;
  display: flex;
  flex-direction: column;
}

.email__input-wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.email__input:focus + .email__icon {
  border-bottom: 2px solid @input-hover-color;
  fill: @input-hover-color;
}

.email__input-wrapper:hover .email__input,
.email__input-wrapper:hover .email__icon {
  border-bottom: 2px solid @input-hover-color;
  fill: @input-hover-color;
}

.email__input {
  .placeholder-mobile;
  padding: 24px 0 15px 0;
  width: 100%;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid @black;

  &:focus {
    outline: none;
    border-bottom: 2px solid @input-hover-color;
  }
}

.email__icon {
  border-bottom: 2px solid black;
  display: inline-block;
  padding: 0 7px 7px 0;
}

@media (min-width: @tablet-width) {
  .email {
    margin: 0 auto;
    padding: 9px 0 50px 0;
    max-width: 670px;
    min-height: 30px;
    background-color: @light-grey;
    flex-direction: row;
  }

  .email__input {
    .placeholder-tablet;
    padding-left: 15px;
    background-color: @light-grey;
  }

  .email__icon {
    padding: 0 26px 8px 0;
  }
}

@media (min-width: @desktop-width) {
  .email {
    max-width: calc(@desktop-width - 60px);
  }

  .email__input {
    max-width: 74%;
  }

  .email__icon {
    padding: 0 5px 8px 24px;
  }
}
