.extra {
  border: none;
  background-color: #ffffff;
  padding: 30px;

  &__input {
    border: 2px solid #000000;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  br {}

  &__text {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
  }

  &__submit-btn {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    color: #444444;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #444444;
    cursor: pointer;
    margin-top: 38px;
    padding: 18px 46px;
  }
}
