.extra {
  border: none;
  background-color: #ffffff;
  padding: 30px;
}

.extra__input {
  border: 2px solid #000000;
  margin-bottom: 10px;
  padding-bottom: 120px;
  padding-right: 60px;
}

.extra__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.extra__submit-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #444444;
  cursor: pointer;
  margin-top: 38px;
  padding: 18px 43px;
}

@media (min-width: @desktop-width) {

  .extra__input {
    padding-bottom: 120px;
    padding-right: 300px;
  }

  .extra__submit-btn {
    padding: 14px 30px;
  }
}
