.feedback {
  background-color: @white;
  min-height: 800px;
  max-width: 320px;
  margin: 0 auto;
}

.feedback__title {
  font-family: @os-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: @black;
  margin-left: 30px;
}

.feedback__email {
  font-family: @os-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: @dark-grey;
  margin-left: 30px;
}

.feedback__email-title {
  padding-right: 5px;
}

.feedback__email-adress {
  color: @dark-grey;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.feedback__adress {
  font-family: @os-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: @dark-grey;
  margin-left: 30px;
}

.feedback__adress-title {
  padding-right: 5px;
}

.feedback__map {
  background-image: url("../img/map-mobile@1x.jpg");
  background-color: #e0e1d8;
  width: 322px;
  height: 457px;
  margin-top: 40px;
}

.feedback__btn {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid @dark-grey;
  cursor: pointer;
  margin-top: 38px;
  margin-left: 30px;
  padding: 14px 54px;
}

@media (min-width: @tablet-width) {
  .feedback {
    min-height: 850px;
    min-width: @tablet-width;
  }

  .feedback__data {
    display: flex;
    margin-left: 20px;
  }

  .feedback__title {
    font-size: 43px;
    margin-left: 50px;
    line-height: 50px;

    &::after {
      content: url("../img/icon-flag.svg");
      float: right;
      padding-right: 50px;
      margin-top: -15px;
    }
  }

  .feedback__email-title {
    display: inline-block;
    width: 70px;
  }

  .feedback__adress-title {
    display: inline-block;
    text-align: center;
    width: 90px;
    min-height: 10px;
    margin-right: 6px;
  }

  .feedback__email {
    font-size: 17px;
  }

  .feedback__adress {
    display: flex;
    width: 350px;
    min-height: 100px;
    font-size: 17px;
  }

  .feedback__map {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .feedback__btn {
    margin-top: 55px;
    margin-left: 250px;
    padding: 14px 40px;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    min-height: 560px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: @desktop-width;
  }

  .feedback__title {
    font-size: 53px;
    line-height: 57px;

    &::after {
      display: none;
    }

    &::before {
      content: url("../img/icon-flag.svg");
      float: left;
      margin-right: 60px;
      margin-left: 14px;
    }
  }

  .feedback__info-wrapper {
    width: 500px;
    height: 300px;
  }

  .feedback__data {
    flex-direction: column;
    margin-left: 11%;
  }

  .feedback__map {
    width: 530px;
    height: 460px;
  }

  .feedback__btn {
    height: 100%;
    padding: 15px 40px;
    margin-top: -105px;
    margin-left: 170px;
  }
}
