.feedback {
  padding: 30px;
  background-color: #ffffff;
}

.feedback__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.feedback__email {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.feedback__email-title {
  padding-right: 5px;
}

.feedback__email-adress {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.feedback__adress {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.feedback__adress-title {
  padding-right: 5px;
}

.feedback__map {
  background-image: url("../img/map-mobile@1x.jpg");
  background-color: #e0e1d8;
  width: 322px;
  height: 457px;
  margin-top: 40px;
}

.feedback__btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #444444;
  cursor: pointer;
  margin-top: 38px;
  padding: 17px 51px;
}
