.feedback {
  background-color: @white;
  min-height: 700px;
  min-width: 100%;
  margin: 0 auto;
}

.feedback__info-wrapper {
  width: 320px;
  margin: 0 auto;
}

.feedback__title {
  font-family: @os-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: @black;
  padding-left: 28px;
  padding-top: 20px;
}

.feedback__email {
  font-family: @os-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: @dark-grey;
  margin: 25px 0 0 30px;
}

.feedback__email-title {
  padding-right: 26px;
}

.feedback__email-adress {
  color: @dark-grey;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
  padding-bottom: 4px;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: #d3ede8;
    border-bottom-color: #ecf9f7;
  }
}

.feedback__adress {
  font-family: @os-font;
  font-weight: normal;
  display: flex;
  font-size: 15px;
  line-height: 30px;
  color: @dark-grey;
  margin-left: 30px;
  padding-top: 14px;
}

.feedback__adress-title {
  display: inline-block;
  padding-right: 30px;
}

.feedback__adress-content {
  display: inline-block;
  max-width: 150px;
  min-height: 143px;
  padding-right: 5px;
}

.feedback__map {
  background-image: url("../img/map-mobile@1x.jpg");
  background-color: #e0e1d8;
  height: 457px;

  @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 644px auto;
  }
}

.feedback__btn {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid @dark-grey;
  cursor: pointer;
  display: block;
  margin: 39px auto 38px auto;
  padding: 14px 54px;

  &:hover {
    background-color: @dark-grey;
    color: @white;
  }

  &:active {
    background-color: @dark-grey;
    color: #8d8d8d;
  }
}

@media (min-width: @tablet-width) {
  .feedback {
    min-height: 850px;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .feedback__info-wrapper {
    width: @tablet-width;
    margin: 0 auto;
  }

  .feedback__data {
    width: @tablet-width;
    display: flex;
    margin: 0 auto;
  }

  .feedback__title {
    width: @tablet-width;
    font-size: 43px;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 46px;
    padding-top: 27px;

    &::after {
      content: url("../img/icon-flag.svg");
      float: right;
      padding-right: 99px;
      margin-top: -15px;
    }
  }

  .feedback__email-title {
    display: inline-block;
    width: 70px;
    padding-right: 2px;
  }

  .feedback__adress-title {
    display: inline-block;
    text-align: center;
    min-height: 10px;
    margin-right: 6px;
    width: 30px;
    padding-top: 0;
    padding-left: 23px;
  }

  .feedback__adress-content {
    max-width: 230px;
    min-height: auto;
    padding-left: 11px;
  }

  .feedback__email {
    font-size: 17px;
    padding-left: 20px;
    margin-top: 12px;
  }

  .feedback__adress {
    display: flex;
    min-height: 110px;
    font-size: 17px;
    padding: 0;
    margin-top: 13px;
  }

  .feedback__map {
    background-image: url("../img/map-tablet@1x.jpg");
    margin-top: 19px;
    margin-bottom: 17px;
    width: 100vw;

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 1536px auto;
    }
  }

  .feedback__btn {
    width: 230px;
    padding: 13px 0;
  }
}

@media (min-width: @desktop-width) {
  .feedback {
    min-width: 1px;
    width: @desktop-width;
    min-height: 560px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 71px;
  }

  .feedback__title {
    font-size: 53px;
    line-height: 57px;
    padding-left: 0;
    margin-top: 112px;

    &::after {
      float: left;
      padding-top: 6px;
      padding-left: 63px;
      margin-right: -39px;
    }
  }

  .feedback__info-wrapper {
    width: 500px;
    height: 300px;
  }

  .feedback__data {
    flex-direction: column;
    margin-left: 11%;
  }

  .feedback__email {
    font-size: 17px;
    padding-left: 90px;
    margin-top: 5px;
  }

  .feedback__adress {
    display: flex;
    min-height: 110px;
    font-size: 17px;
    padding: 0;
    margin-left: 95px;
    margin-top: 30px;
  }

  .feedback__map {
    width: 530px;
    height: 460px;
    margin-top: 70px;
    margin-left: 20px;
    background-image: url("../img/map-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 1050px auto;
    }
  }

  .feedback__btn {
    height: 100%;
    padding: 15px 20px;
    margin: -80px 0 0 173px;
  }
}
