.form {
  background-color: @white;
}

.form__legend {
  font-family: @os-font;
  font-weight: normal;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  background-color: @white;
}
