.form-title {
  font-family: @os-font;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #231f20;
  background-color: @light-grey;
  min-height: 30px;
  text-align: center;
  padding: 70px 0 77px 0;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .form-title {
    font-size: 43px;
    line-height: 50px;
    min-height: 100px;
    padding: 95px 0 30px 0;
  }
}

@media (min-width: @desktop-width) {
  .form-title {
    font-size: 53px;
    line-height: 57px;
    min-height: 120px;
    padding: 95px 0 38px 0;
  }
}
