.form {
  background-color: @white;
  max-width: 320px;
  padding: 6px 25px;
  margin: 0 auto;
}

.form__title {
  font-family: @os-font;
  font-weight: normal;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  background-color: @white;
  display: flex;
  white-space: nowrap;

  &::after {
    content: "";
    display: inline-block;
    height: 1px;
    width: 100%;
    background-color: #63d1bb;
    align-self: center;
    margin-left: 24px;
  }
}

@media (min-width: @tablet-width) {
  .form {
    max-width: 100%;
    min-height: 608px;
    padding: 0;
  }

  .form__title {
    min-width: 167px;

    &::after {
      display: none;
    }
  }

  .form__title--type {
    padding-top: 34px;
    align-self: flex-start;
  }

  .form__title--grey {
    background-color: @light-grey;
  }

  .form__title--color {
    padding-top: 66px;
    align-self: flex-start;
  }

  .form__grey-wrapper {
    background-color: @light-grey;
  }
}

@media (min-width: @desktop-width) {
  .form__title {
    padding-left: 35px;
    min-width: 110px;
  }

  .form__title--color {
    max-width: 110px;
  }
}
