.form-text {
  font-family: @os-font;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: @dark-grey;
  background-color: @white;
  max-width: 250px;
  margin: 0 auto;
  padding: 21px 8px 21px 0;
}

@media (min-width: @tablet-width) {
  .form-text {
    font-size: 17px;
    line-height: 30px;
    min-height: 100px;
    max-width: 620px;
    padding: 58px 48px 0 0;
  }
}


@media (min-width: @desktop-width) {
  .form-text {
    min-width: 700px;
    padding: 103px 0 0 0;
  }
}
