.headline {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-color: #fafafa;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 489px;

  @media (min-resolution: @retina-dpi),
    (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 1150px auto;
  }
}

.headline__title {
  font-family: @os-font;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: @black;
  width: 260px;
  margin: 0 auto;
  padding-bottom: 123px;
  text-align: center;
}

.headline__text {
  font-family: @os-font;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  width: 150px;
  height: 50px;
  color: @white;
  margin: 0;
}

.headline__link--toys:active .headline__text {
  color: #8dd5c9;
}

.headline__link--interior:active .headline__text {
  color: #97e2d2;
}

.headline__link {
  height: 103px;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.headline__img {
  background-color: transparent;
  fill: #3bb09d;
}

.headline__link:hover .headline__img {
  fill: #239f8e;
}

.headline__link:active .headline__img {
  fill: #37b2a0;
}

.headline__link--interior {
  background-color: #63d1bb;

  &:hover {
    background-color: #59d5bc;
  }
}

.headline__link--toys {
  background-color: #56c3b2;

  &:hover {
    background-color: #46c1ae;
  }
}

@media (min-width: @tablet-width) {
  .headline {
    height: 745px;
    background-image: url("../img/hero-tablet@1x.jpg");
    position: relative;
    justify-content: flex-end;

    &::after {
      content: "";
      background: url("../img/bg-zigzag-fill.svg");
      background-color: transparent;
      background-repeat: repeat-x;
      position: absolute;
      height: 34px;
      width: 100%;
      background-size: 120vw auto;
      bottom: -15px;
      left: 0;
      overflow: hidden;
    }

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 2300px auto;
    }
  }

  .headline__title {
    font-size: 43px;
    line-height: 50px;
    width: 500px;
    padding-bottom: 373px;
    margin: 0 auto;
  }

  .headline__text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 5px;
    margin-bottom: 5px;
  }

  .headline__img {
    padding-right: 5px;
  }

  .headline__link-container {
    display: flex;
    width: 668px;
    height: 118px;
    margin: 0 auto;
  }

  .headline__link {
    height: 115px;
    width: 334px;
  }

  .headline__link--interior {
    &:hover {
      transform: translateY(-5px);
    }
  }

  .headline__link--toys {
    &:hover {
      transform: translateY(-5px);
    }
  }
}

@media (min-width: @desktop-width) {
  .headline {
    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi),
      (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1492px auto;
    }

    &::after {
      bottom: -10px;
    }
  }

  .headline__title {
    font-size: 53px;
    line-height: 57px;
    width: 620px;
    padding-bottom: 357px;
  }

  .headline__link-container {
    min-height: 117px;
    min-width: @desktop-width;
  }

  .headline__link {
    width: 100%;
  }
}
