.name {
  border: none;
  background-color: #ffffff;
  padding: 30px;

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    padding-bottom: 10px;
  }

  &__label {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #000000;
  }

  br {}

  &__input {
    border: none;
    border-bottom: 2px solid #000000;
    padding: 10px 0;
  }
}
