.page-header {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 20px;
}

.page-header__logo {
  display: block;
  padding: 0;
  width: 86px;
  margin: 0 auto 3px auto;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__toggler {
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  float: right;
  cursor: pointer;
  margin-top: -37px;
  margin-right: 35px;
}

.page-header__search-wrapper {
  display: flex;
  justify-content: center;
}

.page-header__search {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  display: block;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 26px;
  padding-right: 59px;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid @grey;
  fill: #d3d2d2;

  &:hover {
    color: @link-hover;
    fill: @input-hover-color;
  }

  &:active {
    color: @link-active;
    fill: #d0f1ea;
  }
}

.page-header__search span {
  padding: 20px;
}

.page-header__cart-wrapper {
  display: flex;
  justify-content: center;
}

.page-header__cart {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  width: 100%;
  display: block;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-right: 12px;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid @grey;
  fill: #d3d2d2;

  &:hover {
    color: @link-hover;
    fill: @input-hover-color;
  }

  &:active {
    color: @link-active;
    fill: #d0f1ea;
  }
}

.page-header__cart span {
  padding: 20px;
}

.page-header__delivery {
  font-family: @os-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: @dark-grey;
  display: none;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .page-header {
    padding: 0 50px;
    min-width: 670px;
    margin: 0 auto;
    height: 88px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .page-header__logo {
    order: 0;
    width: 110px;
    margin-left: 0;
    margin-right: 210px;
    padding-top: 21px;
  }

  .page-header__logo-img {
    width: 113px;
    height: 47px;
  }

  .page-header__toggler {
    .display-none;
  }

  .page-header__cart-wrapper {
    margin-top: 20px;
  }

  .page-header__cart {
    order: 2;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 10px 10px;
    border-top: none;
  }

  .page-header__cart span {
    padding: 0;
    margin: 0 0 0 30px;
  }

  .page-header__search {
    order: 1;
    height: 53px;
    padding: 35px 30px 0 36px;
    border-right: 1px solid @grey;
    border-left: 1px solid @grey;
  }

  .page-header__search span {
    .display-none;
  }

  .page-header__delivery {
    display: block;
    order: 4;
    margin-left: auto;
    padding-top: 16px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    min-width: @desktop-width;
    padding: 0 50px;
  }

  .page-header__logo {
    order: 1;
    margin: -12px 140px 0 140px;
  }

  .page-header__search-wrapper {
    order: 2;
  }

  .page-header__cart-wrapper {
    order: 3;
  }

  .page-header__logo-img {
    width: 149px;
    height: 73px;
  }

  .page-header__cart {
    margin-left: auto;
  }

  .page-header__delivery {
    margin-top: -100px;
  }
}
