.page-footer {
  background-color: @light-grey;
  min-height: 160px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 0 3%;
    min-height: 143px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    width: 86px;
    height: 36px;
    margin-left: 35px;
    margin-right: 84px;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    min-height: 143px;
    margin: 0 auto;
    max-width: @desktop-width;
  }

  .page-footer__logo {
    margin-right: 77px;
    margin-left: 15px;
  }

  .page-footer-wrapper {
    background-color: @light-grey;
  }
}
