.phone {
  border: none;
  background-color: @white;
  display: flex;
  flex-direction: column;
  margin: 9px auto 0 auto;
  padding: 0;
  max-width: 260px;
}

.phone__input-wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.phone__input:focus + .phone__icon {
  border-bottom: 2px solid @input-hover-color;
  fill: @input-hover-color;
}

.phone__input-wrapper:hover .phone__input,
.phone__input-wrapper:hover .phone__icon {
  border-bottom: 2px solid @input-hover-color;
  fill: @input-hover-color;
}

.phone__input {
  .placeholder-mobile;
  border: none;
  border-bottom: 2px solid @black;
  padding: 21px 0 16px 0;
  width: 100%;
  border-radius: 0;

  &:focus {
    outline: none;
    border-bottom: 2px solid @input-hover-color;
  }
}

.phone__icon {
  border-bottom: 2px solid black;
  display: inline-block;
  padding: 12px;
}

@media (min-width: @tablet-width) {
  .phone {
    padding-top: 46px;
    max-width: 670px;
    min-height: 30px;
    background-color: @light-grey;
  }

  .phone__input {
    .placeholder-tablet;
    background-color: @light-grey;
    padding: 15px 0 15px 15px;
  }

  .phone__icon {
    padding: 0 29px 16px 0;
  }
}

@media (min-width: @desktop-width) {
  .phone {
    max-width: calc(@desktop-width - 60px);
  }

  .phone__input {
    max-width: 75%;
  }

  .phone__icon {
    padding: 0 9px 16px 20px;
  }
}
