.promo {
  padding: 27px 31px 57px 31px;
  min-height: 772px;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background: @white url("../img/bg-zigzag-line.svg") no-repeat bottom;
  background-size: 100vw auto;
}

.promo__title {
  font-family: @os-font;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  padding-bottom: 5px;
  margin: 0;
  color: @black;
}

.promo__subtitle {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  color: #63d1bb;
}

.promo__description {
  font-family: @os-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  margin-top: 22px;
  color: @dark-grey;
}

.promo__details {
  padding: 5px 0 7px 0;
  width: 260px;
  min-height: 107px;
}

.promo__details-text {
  .clear-li;
  padding: 3px 0 10px 0;
  font-family: @os-font;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: @dark-grey@dark-grey;
  border-bottom: 1px solid @grey;
}

.promo__details-measure {
  display: inline-block;
  width: 95px;
  vertical-align: middle;
}

.promo__image {
  background-color: #8bbfba;
}

.promo__price {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @dark-grey;
  margin-top: 21px;
  padding: 0 0 25px 70px;
}

.promo__order-link {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
  text-decoration: none;
  border: 2px solid @dark-grey;
  padding: 14px 83px;
  transition: 0.1s linear;

  &:hover {
    background-color: @dark-grey;
    color: @white;
    transition: 0.1s linear;
  }

  &:active {
    background-color: @dark-grey;
    color: #8d8d8d;
  }
}

@media (min-width: @tablet-width) {
  .promo {
    max-width: 670px;
    min-height: 625px;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .promo__item-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-top: 34px;
    max-height: 50px;
  }

  .promo__title {
    width: 500px;
    margin-right: auto;
    font-size: 43px;
    line-height: 50px;
  }

  .promo__subtitle {
    line-height: 17px;
    width: 105px;
    text-align: center;
    margin-left: 53px;
  }

  .promo__info-wrapper {
    width: @tablet-width;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }

  .promo__description {
    font-size: 17px;
    line-height: 30px;
    width: 290px;
    margin-top: 25px;
    order: 1;
  }

  .promo__details {
    width: 300px;
    margin-right: -10px;
    order: 2;
  }

  .promo__price {
    font-size: 20px;
    min-width: 290px;
    margin-top: 28px;
    margin-bottom: 10px;
  }

  .promo__image {
    min-width: 303px;
    height: auto;
    margin: 35px 3px 0 44px;
    background-color: #8bbfba;
    order: 4;
  }

  .promo__order-link {
    text-align: center;
    padding: 13px 30px;
  }

  .promo__buy {
    display: flex;
    max-width: 290px;
    flex-direction: column;
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    min-width: @desktop-width;
    min-height: 727px;
    padding-bottom: 80px;
    box-sizing: content-box;
  }

  .promo__item-title {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 117px;
    margin-left: 17px;
    min-width: 600px;
  }

  .promo__title {
    font-size: 53px;
    margin-left: 18px;
    line-height: 57px;
    width: 100%;
    z-index: 1;
  }

  .promo__subtitle {
    padding-left: 20px;
    margin-right: 33px;
    margin-left: 0;
  }

  .promo__info-wrapper {
    justify-content: space-between;
    margin-left: 189px;
    width: 100%;
  }

  .promo__description {
    margin-top: 20px;
  }

  .promo__details {
    margin: 0 -11px 40px 0;
  }

  .promo__image {
    margin-top: -138px;
    margin-left: 58px;
  }

  .promo__buy {
    margin-bottom: 5px;
  }
}
