.social {
  background-color: @light-grey;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 140px;
  margin: 0 auto;
  padding: 25px 30px;
  border-bottom: 1px solid #e5e5e5;
}

.social__item {
  .clear-li;
}

.social__link {
  &:hover {
    fill: @footer-icon-hov;
  }

  &:active {
    fill: @footer-icon-down;
  }
}

@media (min-width: @tablet-width) {
  .social {
    width: 145px;
    margin: 0 0 0 15px;
    border-bottom: none;
  }

  .social__item {
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }
}
