.social {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 0 90px;
}

.social__item {
  list-style: none;
}

.social__link {
  cursor: pointer;
}
