.type {
  border: none;
  background-color: @white;
  padding: 30px;
  min-height: 100px;
  display: flex;
}

.type__radio {
  margin-bottom: 25px;
}

.type__label {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: @black;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .type {
    min-height: 120px;
  }

  .type__label {
    font-size: 19px;
    line-height: 18px;
  }
}
