.video-about {
  border: 1px solid @grey;
  background-color: @white;
  max-width: 260px;
  min-height: 503px;
  display: flex;
  flex-direction: column;
  margin: 8px auto 56px auto;
  position: relative;

  &:active {
    .active-shadow;
  }
}

.video-about__media {
  position: relative;
  width: auto;
  order: 2;
}

.video-about__play-btn {
  position: absolute;
  background-image: url("../img/icon-play.svg");
  background-color: transparent;
  border: none;
  width: 101px;
  height: 77px;
  cursor: pointer;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &:active {
    transform: scale(0.8) translate(-60%, -60%);
    opacity: 0.7;
  }
}

.video-about__title {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  display: flex;
  min-height: 50px;
  margin-top: 26px;
  order: 1;

  &::before {
    content: url("../img/icon-video.svg");
    display: inline-block;
    height: 32px;
    width: 32px;
    align-self: center;
    margin: 5px 26px 15px 32px;
  }
}

.video-about__img {
  background-color: #e5e5e5;
  order: 2;
}

.video-about__text {
  font-family: @os-font;
  font-weight: normal;
  color: @black;
  font-size: 13px;
  line-height: 24px;
  min-height: 120px;
  padding: 13px 35px;
  margin-bottom: 12px;
  order: 3;
}

.video-about__link {
  font-family: @os-font;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
  max-width: 140px;
  background-color: transparent;
  border: 2px solid @dark-grey;
  margin: 0 auto;
  padding: 13px 24px;
  order: 4;

  &:hover {
    background-color: @dark-grey;
    color: @white;
  }

  &:active {
    background-color: @dark-grey;
    color: #8d8d8d;
  }
}

@media (min-width: @tablet-width) {
  .video-about {
    min-width: 668px;
    min-height: 745px;
    margin: 53px auto 60px auto;

    &:hover {
      .hover-shadow;
    }

    &:active {
      .active-shadow;
    }
  }

  .video-about__play-btn {
    top: 190px;
    left: 283px;
    transform: none;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      transform: scale(0.8);
      opacity: 0.7;
    }
  }

  .video-about__img {
    width: 100%;
    min-height: 455px;
    order: 1;
  }

  .video-about__title {
    font-size: 20px;
    order: 2;
    margin: 35px 0 0 0;

    &::before {
      margin: -13px 32px 15px 41px;
    }
  }

  .video-about__text {
    font-size: 15px;
    line-height: 30px;
    padding: 0 39px;
    margin: 6px 0 30px 0;
    min-height: 65px;
  }

  .video-about__link {
    line-height: 16px;
    min-width: 534px;
    background-color: transparent;
    border: 2px solid @dark-grey;
    margin: 0 auto;
    text-align: center;
    padding: 16px 23px;
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .video-about {
    max-width: @desktop-width;
    min-height: 455px;
    max-height: 455px;
    margin: 34px auto 102px auto;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .video-about__media {
    width: 682px;
  }

  .video-about__play-btn {
    left: 290px;
  }

  .video-about__title {
    max-width: 200px;
    min-height: 100px;
    font-size: 20px;
    margin: 40px 80px 0 70px;
    flex-direction: column;

    &::before {
      margin: 0 0 23px 0;
      align-self: flex-start;
    }
  }

  .video-about__text {
    max-width: 240px;
    max-height: 100px;
    padding: 20px;
    margin: 13px 0 20px 50px;
  }

  .video-about__link {
    line-height: 16px;
    min-width: 1px;
    max-width: 223px;
    margin: 25px 0 0 70px;
    padding: 16px 3px;
  }
}
